


body {
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;

}

.header-element {
    color: white;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #2E2E2E;
    padding: 10px;
}

.header-space {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-image {
    width: 50px;
    border-radius: 50%;
}

.footer-space {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.footer-container {
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 25px;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.slider-range {
    width: 80%;
    margin: 20px auto;
    display: block;
}

.card-s {
    background: #17A7E4;
    border-radius: 15px;
    width: 500px;
    color: white;
}

.card-header {
    padding: 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blank-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 24px;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.music-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}
.music-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #fcbf49;
}
.music-card h2 {
    font-size: 18px;
    margin: 15px 0;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress {
    width: 0;
    height: 100%;
    background-color: #ffd700;
}
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.play-button::before {
    content: '▶';
    font-size: 24px;
    margin-left: 5px;
}


.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .display {
    font-size: 48px;
    background-color: #333;
    color: #00e0ff;
    padding: 20px;
    border-radius: 50%;
    border: 5px solid #00e0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00e0ff;
    color: white;
  }
  
  button:hover {
    background-color: #00b0cc;
  }
  

  .train {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .departure {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .departure div {
    flex: 1;
  }
  
  .train-icon {
    color: #000;
    margin-right: 10px;
  }
  
  .rer-a-logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  .traduction {
    background-color: #f9f9f9; /* Couleur de fond de la section */
    border: 1px solid #ddd; /* Bordure fine et grise */
    border-radius: 8px; /* Bords arrondis */
    padding: 20px; /* Espacement intérieur */
    margin: 20px 0; /* Espacement extérieur vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.traduction h2 {
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement en bas du titre */
    text-align: center; /* Centrer le titre */
}

.traduction-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacement égal entre les éléments */
}

.traduction-input,
.traduction-output {
  /* Largeur des blocs de traduction */
    padding: 15px; /* Espacement intérieur des blocs */
    background-color: #fff; /* Couleur de fond des blocs */
    border: 1px solid #ddd; /* Bordure fine et grise */
    border-radius: 4px; /* Bords arrondis */
}

.traduction-input p,
.traduction-output p {
    font-size: 18px; /* Taille de la police */
    color: #555; /* Couleur du texte */
    line-height: 1.6; /* Hauteur de ligne */
}
.feeds {
    background-color: #f9f9f9; /* Couleur de fond de la section */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin: 20px 0; /* Espacement extérieur vertical */
}

.feeds h2 {
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement en bas du titre */
    text-align: center; /* Centrer le titre */
}

.feeds-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    gap: 15px; /* Espacement entre les éléments */
    flex-flow: row wrap; /* Permettre le wrapping */
    justify-content: center; /* Centrer les éléments horizontalement */
}

.feed {
    padding: 25px; /* Espacement intérieur */
    border-radius: 15px; /* Bords arrondis */
    background: #FF5733; /* Couleur de fond */
    color: white; /* Couleur du texte */
    width: 300px; /* Largeur fixe des blocs */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.feed h3 {
    border-bottom: 1px solid white; /* Bordure en bas du titre */
    padding-bottom: 10px; /* Espacement intérieur en bas du titre */
    margin-bottom: 15px; /* Espacement extérieur en bas du titre */
    font-size: 20px; /* Taille de la police du titre */
}
.qcm-popup-answer {
    padding: 10px;
    border-radius: 10px;
    background: #FF5733;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the radio button and label */
  }
  
  .qcm-popup-answer input[type="radio"] {
    accent-color: white; /* Changes the radio button color */
  }
  
  .qcm-popup-answer label {
    flex-grow: 1;
  }
  .task-manager {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .columns {
    display: flex;
    gap: 20px;
  }
  
  .column {
    background-color: #f4f5f7;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .column-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
