@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;

}

.header-element {
    color: white;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #2E2E2E;
    padding: 10px;
}

.header-space {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-image {
    width: 50px;
    border-radius: 50%;
}

.footer-space {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.footer-container {
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 25px;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.slider-range {
    width: 80%;
    margin: 20px auto;
    display: block;
}

.card-s {
    background: #17A7E4;
    border-radius: 15px;
    width: 500px;
    color: white;
    margin: 0 auto;
}

.card-header {
    padding: 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blank-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 24px;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.music-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
.music-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #fcbf49;
}
.music-card h2 {
    font-size: 18px;
    margin: 15px 0;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress {
    width: 0;
    height: 100%;
    background-color: #ffd700;
}
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.play-button::before {
    content: '▶';
    font-size: 24px;
    margin-left: 5px;
}


.stopwatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .display {
    font-size: 48px;
    background-color: #333;
    color: #00e0ff;
    padding: 20px;
    border-radius: 50%;
    border: 5px solid #00e0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00e0ff;
    color: white;
  }
  
  button:hover {
    background-color: #00b0cc;
  }
  

  .train {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y:scroll;
  }
  
  .departure {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .departure div {
    flex: 1;
  }
  
  .train-icon {
    color: #000;
    margin-right: 10px;
  }
  
  .rer-a-logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  .traduction {
    background-color: #f9f9f9; /* Couleur de fond de la section */
    border: 1px solid #ddd; /* Bordure fine et grise */
    border-radius: 8px; /* Bords arrondis */
    padding: 20px; /* Espacement intérieur */
    margin: 20px 0; /* Espacement extérieur vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.traduction h2 {
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement en bas du titre */
    text-align: center; /* Centrer le titre */
}

.traduction-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacement égal entre les éléments */
}

.traduction-input,
.traduction-output {
  /* Largeur des blocs de traduction */
    padding: 15px; /* Espacement intérieur des blocs */
    background-color: #fff; /* Couleur de fond des blocs */
    border: 1px solid #ddd; /* Bordure fine et grise */
    border-radius: 4px; /* Bords arrondis */
}

.traduction-input p,
.traduction-output p {
    font-size: 18px; /* Taille de la police */
    color: #555; /* Couleur du texte */
    line-height: 1.6; /* Hauteur de ligne */
}




.feeds-container {
  display: flex;
  flex-direction:column;
  gap: 20px;
  overflow-y: scroll;
  height: 100%;
    
}

.feed {
    padding: 25px; /* Espacement intérieur */
    border-radius: 15px; /* Bords arrondis */
    background: #FF5733; /* Couleur de fond */
    color: white; /* Couleur du texte */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */

}

.feed h3 {
    border-bottom: 1px solid white; /* Bordure en bas du titre */
    padding-bottom: 10px; /* Espacement intérieur en bas du titre */
    margin-bottom: 15px; /* Espacement extérieur en bas du titre */
    font-size: 20px; /* Taille de la police du titre */
}
.qcm-popup-answer {
    padding: 10px;
    border-radius: 10px;
    background: #FF5733;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the radio button and label */
  }
  
  .qcm-popup-answer input[type="radio"] {
    accent-color: white; /* Changes the radio button color */
  }
  
  .qcm-popup-answer label {
    flex-grow: 1;
  }
  .task-manager {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .columns {
    display: flex;
    gap: 20px;
    overflow-x:scroll;
    height:100%;
  }
  
  .column {
    background-color: #f4f5f7;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .column-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
  }
  
  .task {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .clock {
    width: 200px; /* Ajuste la taille selon tes besoins */
    height: 200px;
    border: none;
    position: relative;
    margin: 20px auto;
    background: linear-gradient(135deg, #222, #444); /* Dégradé de fond pour un effet robotique */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre douce pour un effet 3D */
    overflow: hidden; /* Pour cacher les débordements des aiguilles */
  }
  
  .hand {
    position: absolute;
    background: #ddd; /* Couleur gris clair pour les aiguilles */
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-in-out; /* Animation douce pour les transitions d'aiguilles */
  }
  
  .hour {
    height: 30%;
    width: 6px;
    top: 20%;
    left: 47%;
    background: #FF5F5F; /* Rouge vif pour l'aiguille des heures */
  }
  
  .minute {
    height: 45%;
    width: 5px;
    top: 5%;
    left: 48%;
    background: #5FAEFF; /* Bleu clair pour l'aiguille des minutes */
  }
  
  .second {
    height: 48%;
    width: 2px;
    top: 3%;
    left: 49%;
    background: white; /* Or pour l'aiguille des secondes */
  }



  .digital-clock {
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .digital-clock h2 {
    font-size: 24px;
    color: #333;
  }
  
  .digital-clock .time {
    font-size: 36px;
    color: #FF5F5F; /* Rouge vif pour le texte de l'heure */
  }

  





 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    cursor:none;
    position:relative;
     font-family: "Roboto", sans-serif;
  }

  .image_main {
    width: 100vw;
    height: 100vh;
  }
  .icon_flo {
    width: 25px;
    border-radius: 100%;
  }
  .icon {
    font-size: 20px;
    color:white;
  }
  header {
    background: #2E2E2E;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    font-weight:lighter;
  }
  .header_item {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .header_title {
    color:white;
    font-size:20px;
  }
  .header_icon_p {
    width: 20px;
  }
  main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width:100vw;
    height:60%;
    display:flex;
    align-items: center;
    
  }
  .container{
      display: flex; 
      flex-wrap: nowrap;
     height:400px;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items:center;
  }
   .child { 
     
      flex: 0 0 30%;
      height: 300px; 
      margin: 0 50px;
      transition: transform 0.3s, flex 0.3s;
      color: white;
    
     width: 200px;
     border-radius:15px;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     display:flex;
     flex-direction:column;
     position:relative;
    }

    .child.focused {
      transform: scale(1.1);
      z-index: 1; 
    }
 
  .flexer {
    display:flex;
    gap:15px;
    align-items:center;
    bottom:15px;
    right:15px;
    position:absolute;
  }
  .icon_box {
    width: 75px;
  }
  
  .white_box {
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    border-radius:25px;
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    background:white;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    
   
  }
  .footer_main {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .sep_bottom {
    background:white;
    width: 100%;
    height:40%;
    position:absolute;
    bottom: 0;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding:10px;
    
  }
  .box_description {
    color:black;
 
    display:flex;
  
  }
  .sep_top {
     background: #152A4D; 
    height:60%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0px;
   
   
  }
  .aligner {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .wave {
    margin-top:-15px;
     z-index:99;
  }
  .box_title {
    color:#0AD8EB;
    
  }
  .date {
    background:#2E2E2E;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px;
    border-top-right-radius:25px;
    position:absolute;
    bottom:0;
    left:0;
    font-size:15px;
   padding-left:15px;
   padding-right:15px;
  }
  .flo {
    width:35px;
  }

  .popC {
    position: absolute;
     background: white;
    border-radius:15px;
    padding:15px;
     left: 15px;
    top: 15px;
    right: 15px;
    bottom:15px;
    z-index: 1000;
    display:flex;
    flex-direction:column;
    gap:15px;

  }

  .rappels-container {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    height:300px;
  }