@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.app_container{
    height: 100vh;
    display:flex;
    width: 100vw;
    padding: 25px;
    gap: 25px;
    
}
.app_left {
    display:flex;
    flex-direction:column;
    flex:1;
    gap: 25px;
}
.app_right {
    display:flex;
    flex-direction:column;
    flex:1;
    gap: 25px;
}
.rappels, .chronometre, .fiches, .minuteur {
    background:#212121;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    border-radius: 25px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}
.popup_inside {
    background: white;
    padding: 25px;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup_close {
    cursor: pointer;

}
.cross {
   font-size: 25px;
    cursor: pointer;    
    padding:5px;
    border-radius:5px;
    background:red;
    color:white;
    transition: .5s ease all;
}
.cross:hover {
   
    background:white;
    color:red;
    transform: scale(1.1);
}
